# Firebase Configuration
FIREBASE_API_KEY=YOUR_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_PROJECT_ID.firebaseapp.com
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_PROJECT_ID.appspot.com

# Service URLs
EMBEDDING_SERVICE_URL=https://your-worker-service-url.a.run.app

# Optional: Cloud Run Port (Default is 8080)
PORT=8080